@import '../../node_modules/antd/dist/antd.css';
@import "Register.css";
@import "Login.css";
@import "Logout.css";
@import "Home.css";
@import "AroundMarker.css";


a {
  color: #eb6661;
}

.ant-btn-primary{
  color: #fff;
  background-color: #ff7374;
  border-color: #ff7273;
}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #eb6661;
  border-color: #eb6661;
}
a:hover {
  color: dimgray;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #eb6661;
  font-weight: 500;
}

.ant-tabs-ink-bar{
  background-color: #ff4d4f;
}
::selection {
  background: #EB6662;
  color: #fff;
}
.App {
text-align: center;
}

checkbox-indeterminate .ant-checkbox-inner {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.App-logo {
  color: ivory;
  font-size: 45px;
  margin-top: 5px;
  margin-left:30px;
  float: left;
  animation: App-logo-spin infinite 5s linear;
  height: 45px;
}

.App-header {
  background-color: #df8c86;
  height: 60px;
  padding: 1px;

}

.App-title {
  margin-left: 15px;
  float: left;
  font-size: 2.9em;
  font-family: "Arial";
  padding-top: 1px;
  color: ivory;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


