@import '~antd/dist/antd.css';
.App {

}

.App-logo {
  float: left;
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 1px;

}

.App-title {
  font-size: 2.0em;
  /*font-family: "Brush Script MT";*/
  padding-top: 16px;
  color: rgb(131, 216, 247);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.register-form {
  margin-top: 40px;
  width: 550px;
}

